page-movie-details {

    body {
        padding: 10px;
      }
      
      .container-box {
        width: 100%;
        max-width: 1500px;
        margin: 0 auto;
        margin-top: 0px;
        display: grid;
        grid-gap: 25px;
        grid-template-columns: auto;
        grid-template-rows: 150px 360px 100px;
        grid-template-areas: 'header header header' 'aside main main' 'footer footer footer';
        margin-top: -120px;
      }
      
      .box {
        background-color: #4d5860;
        border-radius: 18px;
      }
      
      aside {
        grid-area: aside;
      }
      
      main {
        grid-area: main;
      }

      .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 1px solid #4d5860;
      }

      .item-md {
        padding-left: 16px;
        padding-right: 0;
        position: relative;
        font-weight: normal;
        text-transform: none;
        color: #f8f6f6;
        box-shadow: none;
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #4d5860;
        border-radius: 18px;
      }

      .item-md ion-avatar img {

        border-radius: 50%;
        overflow: hidden;
        width: 40px;
        height: 40px;
        margin-top: 10px;
    
      }

      [padding] h1:first-child, [padding] h2:first-child, [padding] h3:first-child, [padding] h4:first-child, [padding] h5:first-child, [padding] h6:first-child {
        margin-top: 2.2rem;
        font-size: 2.0rem;
      }

      .text-margin {
        margin-top: 1.5rem;
        margin-left: 1.5rem;
      }

      .item-md p {
        margin: 0 0 2px;
        overflow: inherit;
        font-size: 1.6rem;
        line-height: normal;
        text-overflow: inherit;
        color: #fcfbfb;
      }

      .card-synopsis {
        margin-top: 100px;    
      }

      .card-md h2 {
        margin: 2px 0;
        margin-top: 2px;
        font-size: 1.7rem;
        font-weight: normal;
        color: #f9f4f4;
        margin-top: 6px;
      }

      .badge-md {
        border-radius: 7px;
        color: #fff;
        background-color: #733cbe;
        margin-left: 12px;
      }

      ion-card img {
        display: block;
        width: 400px;
        align-content: center;
        margin: auto;
            margin-top: auto;
        margin-top: 10px;
      }

      .card-md h1 {
        font-weight: normal;
        color: #f9f8f8;
      }
}
