<!--
  Generated template for the MovieDetailsPage page.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="movie">
      <b class="line-break">{{movie.belongs_to_collection.name}}</b>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding *ngIf="movie">

  <ion-card class="card-synopsis">
    <ion-card-content>
      <h1>Sinopse</h1>
      <h2>{{movie.overview}}</h2>
    </ion-card-content>
  </ion-card>

  <div class="container-box">

    <aside class="box" *ngFor="let genre of movie.genres">

      <h4 class="text-color text-margin">{{movie.original_title}} ({{movie.release_date | date: 'dd/MM/yyyy' }}) </h4>
      <h5 class="text-color text-margin"> Nota: {{movie.vote_average}} </h5>
      <h5 class="text-color text-margin"> Duração: {{movie.runtime}} </h5>
      <h5 class="text-color text-margin"> Adulto: {{ movie.adult ?'Sim':'Não' }}</h5>
      <h5 class="text-color text-margin"> Gênero: {{ genre.name }}</h5>
      <h5 class="text-color text-margin"> Linguagem Original: {{ movie.original_language }} </h5>
      <ion-badge class="badge-info" *ngFor="let genre of movie.genres" item-start>{{genre.name}}</ion-badge>
    </aside>

    <main>
      <ion-item>
        <img src="{{'https://image.tmdb.org/t/p/w500'+ movie.backdrop_path}}" />
      </ion-item>
    </main>

  </div>

</ion-content>